[Unit]
Description=Kopano Identity Management Daemon
After=network.target

[Service]
Type=notify
NotifyAccess=main
Restart=on-failure
RestartPreventExitStatus=64
PrivateTmp=yes
PrivateDevices=yes
DynamicUser=yes
Group=kidm
NoNewPrivileges=yes
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ProtectSystem=strict
ProtectHome=true
UMask=0027
PermissionsStartOnly=true
Environment=LC_CTYPE=en_US.UTF-8
EnvironmentFile=-/etc/kopano/kidmd.cfg
StateDirectory=kopano-kidmd
ExecStartPre=/usr/sbin/kopano-kidmd setup
ExecStart=/usr/sbin/kopano-kidmd serve --log-timestamp=false --systemd-notify
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
