name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Bootstrap
      run: go version

    - name: Vendor
      run: make vendor

    - name: Lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest
        args: --timeout=2m
        skip-cache: true
        only-new-issues: true

    - name: Build
      run: |
        make DATE=reproducible
        ./bin/idmd version && sha256sum ./bin/idmd

    - name: Test
      run: make test

    - name: Dist
      run: |
        test -z "$(git diff --shortstat 2>/dev/null |tail -n1)" && echo "Clean check passed."
        make check
        make dist

